<template>
    <div>
        <!-- =========================
            START RECENT RENOVATIONS SECTION
        ============================== -->
        <section class="single_architect_area">
            <div class="single_architect_bio">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="single_architect_img">
                                <img :src="core.Asset_Path+'images/author-bg.png'" alt="" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-md-6">
                            
                            <div class="single_architect_text">
                                <p v-text="__('Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed scelerisque libero sed tincidunt elementum. Praesent elementum, risus nec dictum consectetur, turpis enim semper odio, ut efficitur tellus justo nec odio. Integer interdum justo at ante lacinia, a molestie ex eleifend. Maecenas pharetra convallis elementum. Praesent pharetra ante vitae est pharetra, id aliquam sem tempus. Mauris et nisi porta, hendrerit purus vel, ullamcorper enim. Nulla quis urna ut nisi vehicula fringilla at finibus urna. Nunc convallis mi eu porttitor tristique.')"> </p>

                                <p v-text="__('Cras placerat sit amet ex quis cursus. Sed at est sit amet urna condimentum iaculis. Mauris et purus ut massa vehicula convallis vitae pharetra magna.')"> </p>
                                <span><b v-text="__('Condividi')"></b><b>:</b> 
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single_architect_desc">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="single_architect_desc_text">
                                <h2 v-text="__('LA MIA ESPERIENZA')"></h2>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="single_architect_desc_text">
                                <h2 v-text="__('I MIEI PUNTI FORTI')"></h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="single_architect_desc_left">
                                <div class="single_architect_desc_left_inner">
                                    <h2 v-text="__('Ristrutturazione Case')"></h2>
                                    <h3 v-text="__('Dal 2013 ad oggi')"></h3>
                                    <p v-text="__('Cras placerat sit amet ex quis cursus. Sed at est sit amet urna condimentum iaculis. Mauris et purus ut massa vehicula convallis vitae pharetra magna.')"></p>
                                </div>
                                <div class="single_architect_desc_left_inner">
                                    <h2 v-text="__('Società xyz')"></h2>
                                    <h3><span v-text="__('Dal')"></span> 2010 <span v-text="__('al')"></span> 2013</h3>
                                    <p v-text="__('Cras placerat sit amet ex quis cursus. Sed at est sit amet urna condimentum iaculis. Mauris et purus ut massa vehicula convallis vitae pharetra magna.')"></p>

                                </div>
                                <div class="single_architect_desc_left_inner">
                                    <h2 v-text="__('Politecnico di Milano')"></h2>
                                    <h3><span v-text="__('Dal')"></span> 2006 <span v-text="__('al')"></span> 2010</h3>
                                    <p v-text="__('Cras placerat sit amet ex quis cursus. Sed at est sit amet urna condimentum iaculis. Mauris et purus ut massa vehicula convallis vitae pharetra magna.')"></p>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="single_architect_desc_right">
                                <p v-text="__('Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed scelerisque libero sed tincidunt elementum. Praesent elementum, risus nec dictum consectetur, turpis enim semper odio, ut efficitur tellus justo nec odio. Integer interdum justo at ante lacinia, a molestie ex eleifend. Maecenas pharetra convallis elementum. Praesent pharetra ante vitae est pharetra, id aliquam sem tempus. Mauris et nisi porta, hendrerit purus vel, ullamcorper enim. Nulla quis urna ut nisi vehicula fringilla at finibus urna. Nunc convallis mi eu porttitor tristique.')"></p>
                                <p v-text="__('Cras placerat sit amet ex quis cursus. Sed at est sit amet urna condimentum iaculis. Mauris et purus ut massa vehicula convallis vitae pharetra magna.')"></p>

                                <p v-text="__('Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed scelerisque libero sed tincidunt elementum. Praesent elementum, risus nec dictum consectetur, turpis enim semper odio, ut efficitur tellus justo nec odio. Integer interdum justo at ante lacinia, a molestie ex eleifend. Maecenas pharetra convallis elementum. Praesent pharetra ante vitae est pharetra, id aliquam sem tempus. Mauris et nisi porta, hendrerit purus vel, ullamcorper enim. Nulla quis urna ut nisi vehicula fringilla at finibus urna. Nunc convallis mi eu porttitor tristique.')"></p>

                                <p v-text="__('Cras placerat sit amet ex quis cursus. Sed at est sit amet urna condimentum iaculis. Mauris et purus ut massa vehicula convallis vitae pharetra magna.')"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- =========================
            END RECENT RENOVATIONS SECTION
        ============================== --> 
    </div>
</template>

<script>
    export default {
        name: 'architect',
        data() {
            return {
                core : core,
                selectAMb : 0
            }
        }
    }
</script>
