<template>
    <div>
        <!-- =========================
            START RESTRUCTURE SECTION
        ============================== -->
        <section class="portfolio_content_area">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="portfolio_content_title">
                            <ol class="breadcrumb">
                                <li :class="{'breadcrumb-item': true, active: selectPort == 0 ? true : false}" @click="filterPortfoli(0)" v-text="__('All')"></li>
                                <li :class="{'breadcrumb-item': true, active: selectPort == 1 ? true : false}" @click="filterPortfoli(1)" v-text="__('APPARTAMENTO')"></li>
                                <li :class="{'breadcrumb-item': true, active: selectPort == 2 ? true : false}" @click="filterPortfoli(2)" v-text="__('NEGOZIO')"></li>
                                <li :class="{'breadcrumb-item': true, active: selectPort == 3 ? true : false}" @click="filterPortfoli(3)" v-text="__('UFFICIO')"></li>
                            </ol>   
                        </div>
                    </div>
                </div>
                <div style="width: 100%;display: inline-block;min-height: 300px">
                    <div class="row">
                        <div @click="ambientiSingle" v-if="selectPort == 0 || selectPort == 1" class="col-sm-6 col-md-4 portfolio_custom_padding animated fadeInRight pointer">
                            <div class="ambienti_content_img">
                                <img :src="core.Asset_Path+'images/portfolio3.png'" alt="">
                                <div class="ambienti_content_img_inner">
                                    <h2 v-text="__('Cucina')"></h2>
                                    <p><span v-text="__('Un progetto in realtà')"></span> <br> <span v-text="__('virtuale cosi da avere')"></span></p>
                                    <a  href="#"><img :src="core.Asset_Path+'images/share.png'" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div @click="ambientiSingle" v-if="selectPort == 0 || selectPort == 2" class="col-sm-6 col-md-4 portfolio_custom_padding animated fadeInRight pointer">
                            <div class="ambienti_content_img">
                                <img :src="core.Asset_Path+'images/portfolio1.png'" alt="">
                                <div class="ambienti_content_img_inner">
                                    <h2 v-text="__('Cucina')"></h2>
                                    <p><span v-text="__('Un progetto in realtà')"></span> <br> <span v-text="__('virtuale cosi da avere')"></span></p>
                                    <a  href="#"><img :src="core.Asset_Path+'images/share.png'" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div @click="ambientiSingle" v-if="selectPort == 0 || selectPort == 3" class="col-sm-6 col-md-4 portfolio_custom_padding animated fadeInRight pointer">
                            <div class="ambienti_content_img">
                                <img :src="core.Asset_Path+'images/portfolio2.png'" alt="">
                                <div class="ambienti_content_img_inner">
                                   <h2 v-text="__('Cucina')"></h2>
                                    <p><span v-text="__('Un progetto in realtà')"></span> <br> <span v-text="__('virtuale cosi da avere')"></span></p>
                                    <a  href="#"><img :src="core.Asset_Path+'images/share.png'" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div @click="ambientiSingle" v-if="selectPort == 0 || selectPort == 1" class="col-sm-6 col-md-4 portfolio_custom_padding animated fadeInRight pointer">
                            <div class="ambienti_content_img">
                                <img :src="core.Asset_Path+'images/portfolio3.png'" alt="">
                                <div class="ambienti_content_img_inner">
                                    <h2 v-text="__('Cucina')"></h2>
                                    <p><span v-text="__('Un progetto in realtà')"></span> <br> <span v-text="__('virtuale cosi da avere')"></span></p>
                                    <a  href="#"><img :src="core.Asset_Path+'images/share.png'" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div @click="ambientiSingle" v-if="selectPort == 0 || selectPort == 2" class="col-sm-6 col-md-4 portfolio_custom_padding animated fadeInRight pointer">
                            <div class="ambienti_content_img">
                                <img :src="core.Asset_Path+'images/portfolio1.png'" alt="">
                                <div class="ambienti_content_img_inner">
                                    <h2 v-text="__('Cucina')"></h2>
                                    <p><span v-text="__('Un progetto in realtà')"></span> <br> <span v-text="__('virtuale cosi da avere')"></span></p>
                                    <a  href="#"><img :src="core.Asset_Path+'images/share.png'" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div @click="ambientiSingle" v-if="selectPort == 0 || selectPort == 3" class="col-sm-6 col-md-4 portfolio_custom_padding animated fadeInRight pointer">
                            <div class="ambienti_content_img">
                                <img :src="core.Asset_Path+'images/portfolio2.png'" alt="">
                                <div class="ambienti_content_img_inner">
                                    <h2 v-text="__('Cucina')"></h2>
                                    <p><span v-text="__('Un progetto in realtà')"></span> <br> <span v-text="__('virtuale cosi da avere')"></span></p>
                                    <a  href="#"><img :src="core.Asset_Path+'images/share.png'" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div @click="ambientiSingle" v-if="selectPort == 0 || selectPort == 1" class="col-sm-6 col-md-4 portfolio_custom_padding animated fadeInRight pointer">
                            <div class="ambienti_content_img">
                                <img :src="core.Asset_Path+'images/portfolio3.png'" alt="">
                                <div class="ambienti_content_img_inner">
                                    <h2 v-text="__('Cucina')"></h2>
                                    <p><span v-text="__('Un progetto in realtà')"></span> <br> <span v-text="__('virtuale cosi da avere')"></span></p>
                                    <a  href="#"><img :src="core.Asset_Path+'images/share.png'" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div @click="ambientiSingle" v-if="selectPort == 0 || selectPort == 2" class="col-sm-6 col-md-4 portfolio_custom_padding animated fadeInRight pointer">
                            <div class="ambienti_content_img">
                                <img :src="core.Asset_Path+'images/portfolio1.png'" alt="">
                                <div class="ambienti_content_img_inner">
                                   <h2 v-text="__('Cucina')"></h2>
                                    <p><span v-text="__('Un progetto in realtà')"></span> <br> <span v-text="__('virtuale cosi da avere')"></span></p>
                                    <a  href="#"><img :src="core.Asset_Path+'images/share.png'" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div @click="ambientiSingle" v-if="selectPort == 0 || selectPort == 3" class="col-sm-6 col-md-4 portfolio_custom_padding animated fadeInRight pointer">
                            <div class="ambienti_content_img">
                                <img :src="core.Asset_Path+'images/portfolio2.png'" alt="">
                                <div class="ambienti_content_img_inner">
                                    <h2 v-text="__('Cucina')"></h2>
                                    <p><span v-text="__('Un progetto in realtà')"></span> <br> <span v-text="__('virtuale cosi da avere')"></span></p>
                                    <a  href="#"><img :src="core.Asset_Path+'images/share.png'" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- =========================
            END RESTRUCTURE SECTION
        ============================== -->
    </div>
</template>

<script>
    export default {
        name: 'app',
        data() {
            return {
                core : core,
                selectPort : 0
            }
        },
        methods : {
            filterPortfoli: function (port) {
                let THIS = this;
                this.selectPort = port;
                setTimeout(function () {
                    THIS.selectPort = port;
                }, 100);
            },
            ambientiSingle: function (){
                // this.$router.push('/ambienti/single');
            }
        }
    }
</script>

<style scoped>
    .pointer{
        cursor: pointer !important;
    }
</style>
