<template>
    <div>
        <!-- =========================
            START RECENT RENOVATIONS SECTION
        ============================== -->
        <section class="portfolio_content_area">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="portfolio_content_title">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#" v-text="__('APPARTAMENTO')"></a></li>
                                    <li class="breadcrumb-item"><a href="#" v-text="__('NEGOZIO')"></a></li>
                                    <li class="breadcrumb-item active" aria-current="page" v-text="__('UFFICIO')"></li>
                                </ol>
                            </nav> 
                        </div>
                    </div>
                    <div v-for="profile in profiles" :key="profile.id" class="col-sm-6 col-md-4 portfolio_custom_padding">
                        <div class="portfolio_content_inner">
                            <div class="portfolio_content_img">
                                <!-- <img :src="core.Asset_Path+'images/portfolio1.png'" alt=""> -->
                                <img :src="'https://dev2.simonechinaglia.net/dev/ristru-backend/public/storage/uploads/'+ profile.image_after" alt="">
                                <div class="portfolio_content_img_inner">
                                    <h2 v-if="$store.state.lang == 'it'">{{ profile.title_it }}</h2>
                                    <h2 v-else-if="$store.state.lang == 'en'">{{ profile.title_en }}</h2>
                                    <h2 v-else-if="$store.state.lang == 'de'">{{ profile.title_de }}</h2>
                                    <h2 v-else>{{ profile.title_py }}</h2>
                                    
                                    <div v-if="$store.state.lang == 'it'">{{ profile.description_it && profile.description_it.length > 100 ? profile.description_it.substring(0,100)+'...': profile.description_it }}</div>
                                    <div v-else-if="$store.state.lang == 'en'">{{ profile.description_en && profile.description_en.length > 100 ? profile.description_en.substring(0,100)+'...': profile.description_en }}</div>
                                    <div v-else-if="$store.state.lang == 'de'">{{ profile.description_de && profile.description_de.length > 100 ? profile.description_de.substring(0,100)+'...': profile.description_de }}</div>
                                    <div v-else-if="$store.state.lang == 'py'">{{ profile.description_py && profile.description_py.length > 100 ? profile.description_py.substring(0,100)+'...': profile.description_py }}</div>

                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i class="material-icons">link</i>
                                                <span v-if="$store.state.lang == 'it'" >{{ profile.mq_it }}</span>
                                                <span v-else-if="$store.state.lang == 'en'" >{{ profile.mq_en }}</span>
                                                <span v-else-if="$store.state.lang == 'de'" >{{ profile.mq_de }}</span>
                                                <span v-else-if="$store.state.lang == 'py'" >{{ profile.mq_py }}</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="material-icons">cell_wifi</i>
                                                <span v-if="$store.state.lang == 'it'" >{{ profile.network_it }}</span>
                                                <span v-else-if="$store.state.lang == 'en'" >{{ profile.network_en }}</span>
                                                <span v-else-if="$store.state.lang == 'de'" >{{ profile.network_de }}</span>
                                                <span v-else-if="$store.state.lang == 'py'" >{{ profile.network_py }}</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="material-icons">import_export</i>
                                                <span v-if="$store.state.lang == 'it'" >{{ profile.location_it }}</span>
                                                <span v-else-if="$store.state.lang == 'en'" >{{ profile.location_en }}</span>
                                                <span v-else-if="$store.state.lang == 'de'" >{{ profile.location_de }}</span>
                                                <span v-else-if="$store.state.lang == 'py'" >{{ profile.location_py }}</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="material-icons">ring_volume</i>
                                                <span v-if="$store.state.lang == 'it'" >{{ profile.price_it }}</span>
                                                <span v-else-if="$store.state.lang == 'en'" >{{ profile.price_en }}</span>
                                                <span v-else-if="$store.state.lang == 'de'" >{{ profile.price_de }}</span>
                                                <span v-else-if="$store.state.lang == 'py'" >{{ profile.price_py }}</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <router-link class="portfoio_btn" :to="`/progetti/${profile.title_it.replace(' ', '-')}/${profile.id}`" href="javascript:void(0)"  v-text="__('SCOPRI DI PIU')"></router-link>
                                    
                                    <a class="portfoio_share" href="#"><img :src="core.Asset_Path+'images/share.png'" alt=""></a>

                                    </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
        <!-- =========================
            END RECENT RENOVATIONS SECTION
        ============================== -->  
    </div>
</template>

<script>
    export default {
        name: 'app',
        data() {
            return {
                core : core,
                selectAMb : 0
            }
        },
        mounted() {
            if (this.profiles.length) {
                return;
            }
            
            this.$store.dispatch('getProfiles');
        },
        computed: {
            profiles() {
                console.log(this.$store.getters.profiles)
                return this.$store.getters.profiles;
            }
        }
    }
</script>

<style scoped>
    
</style>
