<template>
    <div>
        <topNav></topNav>
      <!-- =========================
    START BANNER SECTION
============================== -->
      <section class="bredcrumbs_banner banner_area">
        <div class="banner_layer"></div>
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="banner_left">
                <p v-text="__('SIAMO IN TUTTA ITALIA')"></p>
                <h2 v-text="__('CONTATTACI')"></h2>
                <h3 v-text="__('Scrivici, chiamaci o vola in chat, stiamo aspettando te!')"></h3>
              </div>
            </div>
            <div class="col-md-8">
              <div class="bredcrums_area">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">HOME</a></li>
                    <li class="breadcrumb-item"><a href="/ambienti" v-text="__('CONTATTI')"></a></li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- =========================
          END BANNER SECTION
      ============================== -->
        <restructure></restructure>
        <renovations></renovations>

        <quote></quote>
        <testimonial></testimonial>
        <social></social>
        <brand></brand>
        <footer_all></footer_all>
    </div>
</template>

<script>
    import topNav from './global/_topbar.vue';
    import banner from './global/_banner_simple.vue';
    import form1 from './global/_welcome_form_1.vue';

    import restructure from './global/contact/_restructure_contact.vue';
    import renovations from './global/contact/_renovations_contact.vue';

    import quote from './global/_quote_home.vue';
    import testimonial from './global/_testimonial_home.vue';
    import social from './global/_social_home.vue';
    import brand from './global/_brand_home.vue';
    import footer_all from './global/_footer.vue';

    export default {
        name: 'contact',
        data() {
            return {

            }
        },

        components: {topNav,banner,form1,restructure,renovations,quote,testimonial,social,brand,footer_all}
    }
</script>
<style scoped>
  .bredcrumbs_banner.banner_area {
    padding: 0px 0;
  }
  </style>
