<template>
    <div>
        <topNav></topNav>
        <banner></banner>

        <email_form></email_form>

        <quote></quote>
        <testimonial></testimonial>
        <social></social>
        <brand></brand>
        <footer_all></footer_all>
    </div>
</template>

<script>
    import topNav from './global/_topbar.vue';
    import banner from './global/formStep/_banner.vue';
    
    import email_form from './global/formStep/_form_2.vue';

    import quote from './global/formStep/_quote.vue';
    import testimonial from './global/_testimonial_home.vue';
    import social from './global/_social_home.vue';
    import brand from './global/_brand_home.vue';
    import footer_all from './global/_footer.vue';
    
    export default {
        name: 'formStep',
        data() {
            return {

            }
        },
        
        
        components: {topNav,banner,email_form,quote,testimonial,social,brand,footer_all}
    }
</script>