.md-theme-default{background:#fff}.md-field label{font-size:12px !important}.md-field input{width:100% !important;border-bottom:1px solid #c8c8c8 !important}.md-field:before{background:#fcb24b !important}.md-field.md-focused label{color:#fcb24b !important;font-size:10px !important}.md-field.md-focused:before{height:2px;z-index:2;opacity:1;-webkit-transform:scaleX(1);transform:scaleX(1)}/*# sourceMappingURL=overlap.css.map */
