
/*===========================*/
/*Overlap*/
/*===========================*/

.md-theme-default{
    background: #ffffff;
}
.md-field{
    label{
        font-size: 12px!important;
    }
    input{
        width: 100%!important;
        border-bottom: 1px solid #c8c8c8!important;
    }
    &:before{
        background: #fcb24b!important;
    }
    &.md-focused{
        label{
            color: #fcb24b!important;
            font-size: 10px!important;
        }
        &:before{
            height: 2px;
            z-index: 2;
            opacity: 1;
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
        }
    }
}

#brand_slider{

}