<template>
    <div>
        <!-- =========================
            START FREE QUOTE SECTION
        ============================== -->
        <section class="free_quote_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 v-text="__('Chiedici un preventivo gratuito!')"></h2>
                        <p>
                            <span v-text="__('Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dolor augue,')"></span>
                            <br> 
                            <span v-text="__('lobortis nec hendrerit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.')"></span>
                            <br> 
                            <span v-text="__('Nunc dolor augue, lobortis nec hendrerit.')"></span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="free_quote_bottom">
                <div class="container free_quote_container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="free_quote_bottom_inner">
                                <a href="#"><span v-text="__('CHIAMACI AL 800 33 33 30')"></span> <i class="material-icons">arrow_forward</i></a>
                            </div> 
                        </div>
                        <div class="col-md-6">
                            <div class="free_quote_bottom_inner free_quote_bottom_inner2">
                                <a href="#"><span v-text="__('PRENOTA OGGI UN APPUNTAMENTO')"></span> <i class="material-icons">arrow_forward</i></a>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- =========================
            END FREE QUOTE SECTION
        ============================== -->
    </div>
</template>

<script>
    export default {
        name: 'app',
        data() {
            return {
                core : core,
                selectAMb : 0
            }
        }
    }
</script>
