<template>
	<!-- =========================
        START BANNER SECTION
    ============================== -->
    <section class="bredcrumbs_banner banner_area">
        <div class="banner_layer"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="banner_left">
                        <p v-text="__('RISTRUTTURAZIONE CHIAVI IN MANO')"></p>
                        <h2 v-text="__('Ristrutturazione Cucine')"></h2>
                        <h3 v-text="__('Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dolor augue, lobortis nec hendrerit.')"></h3>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="bredcrums_area">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">HOME</a></li>
                                <li class="breadcrumb-item"><a href="#" v-text="__('AMBIENTI')"></a></li>
                                <li class="breadcrumb-item active" aria-current="page" v-text="__('CUCINA')"></li>
                            </ol>
                        </nav>                            
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =========================
        END BANNER SECTION
    ============================== -->  
</template>