<template>
    <div>
        <!-- =========================
            START BRAND SECTION
        ============================== -->
        <section class="brand_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div id="brand_slider" class="owl-carousel owl-theme">
                            <div class="item">
                                <img :src="core.Asset_Path+'images/brand1.png'" alt="ristrutturazioni appartamenti complete" title="partner ristrutturazione case">
                            </div>
                            <div class="item">
                                <img :src="core.Asset_Path+'images/brand2.png'" alt="ristrutturazioni appartamenti complete" title="partner ristrutturazione case">
                            </div>
                            <div class="item">
                                <img :src="core.Asset_Path+'images/brand3.png'" alt="ristrutturazioni appartamenti complete" title="partner ristrutturazione case">
                            </div>
                            <div class="item">
                                <img :src="core.Asset_Path+'images/brand4.png'" alt="ristrutturazioni appartamenti complete" title="partner ristrutturazione case">
                            </div>
                            <div class="item">
                                <img :src="core.Asset_Path+'images/brand1.png'" alt="ristrutturazioni appartamenti complete" title="partner ristrutturazione case">
                            </div>
                            <div class="item">
                                <img :src="core.Asset_Path+'images/brand2.png'" alt="ristrutturazioni appartamenti complete" title="partner ristrutturazione case">
                            </div>
                            <div class="item">
                                <img :src="core.Asset_Path+'images/brand3.png'" alt="ristrutturazioni appartamenti complete" title="partner ristrutturazione case">
                            </div>
                            <div class="item">
                                <img :src="core.Asset_Path+'images/brand4.png'" alt="ristrutturazioni appartamenti complete" title="partner ristrutturazione case">
                            </div>
                            <div class="item">
                                <img :src="core.Asset_Path+'images/brand1.png'" alt="ristrutturazioni appartamenti complete" title="partner ristrutturazione case">
                            </div>
                            <div class="item">
                                <img :src="core.Asset_Path+'images/brand2.png'" alt="ristrutturazioni appartamenti complete" title="partner ristrutturazione case">
                            </div>
                            <div class="item">
                                <img :src="core.Asset_Path+'images/brand3.png'" alt="ristrutturazioni appartamenti complete" title="partner ristrutturazione case">
                            </div>
                            <div class="item">
                                <img :src="core.Asset_Path+'images/brand4.png'" alt="ristrutturazioni appartamenti complete" title="partner ristrutturazione case">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- =========================
            END BRAND SECTION
        ============================== -->
    </div>
</template>

<script>
    export default {
        name: 'app',
        data() {
            return {
                core : core,
                selectAMb : 0
            }
        },
        mounted(){
            $(function () {
                var brand_slider = jQuery("#brand_slider");
                brand_slider.owlCarousel({
                    loop: false,
                    margin: 0,
                    smartSpeed: 1500,
                    autoplay:true,
                    nav: true,
                    dots:false,
                    navText: ['<img src="'+core.Asset_Path+'images/arrow-left.png">','<img src="'+core.Asset_Path+'images/arrow-right.png">'],
                    responsive: {
                        0: {
                            items: 1
                        },
                        400: {
                            items: 1
                        },
                        768: {
                            items: 2
                        },
                        1200: {
                            items: 4
                        }
                    }
                });
            });
        }
    }
</script>
