<template>
    <div>
        <!-- =========================
            START FOOTER SECTION
        ============================== -->
        <footer class="footer_area">
            <div class="footer_top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="footer_logo">
                                <a href="#"><img :src="core.Asset_Path+'images/logo.png'" alt=""></a>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dolor augue, lobortis nec hendrerit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dolor augue, lobortis nec hendrerit.</p>
                                <ul>
                                    <li>
                                        <a href="https://www.linkedin.com/company/5158942" target="_blank"><i class="fa fa-linkedin"></i></a>
                                    </li>
                                    <li>
                                        <a href="https://www.facebook.com/RistrutturazioneCase1/?fref=ts" target="_blank"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/ristrutturazionecase" target="_blank"><i class="fa fa-instagram"></i></a>
                                    </li>
                                    <li>
                                        <a href="https://www.pinterest.it/domusmea/"><i class="fa fa-pinterest"></i></a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                          <h2 class="footer_menu" v-text="__('Le nostre sedi')"></h2>

                          <div class="row">
                              <div class="col-md-6">
                                <div class="footer_menu">
                                  <ul>
                                    <li><a href="#" v-text="__('Milano')"></a></li>
                                    <li><a href="#" v-text="__('Torino')"></a></li>
                                    <li><a href="#" v-text="__('Bergamo')"></a></li>
                                    <li><a href="#" v-text="__('Roma')"></a></li>
                                    <li><a href="#" v-text="__('Bologna')"></a></li>
                                    <li><a href="#" v-text="__('Brescia')"></a></li>
                                    <li><a href="#" v-text="__('Firenze')"></a></li>
                                    <li><a href="#" v-text="__('Padova')"></a></li>
                                  </ul>
                                </div>
                              </div>
                            <div class="col-md-6">
                              <div class="footer_menu">
                                <ul>
                                  <li><a href="#" v-text="__('Genova')"></a></li>
                                  <li><a href="#" v-text="__('Mantova')"></a></li>
                                  <li><a href="#" v-text="__('Monza')"></a></li>
                                  <li><a href="#" v-text="__('Pavia')"></a></li>
                                  <li><a href="#" v-text="__('Pisa')"></a></li>
                                  <li><a href="#" v-text="__('Savona')"></a></li>
                                  <li><a href="#" v-text="__('Treviso')"></a></li>
                                  <li><a href="#" v-text="__('Vercelli')"></a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>

                      <div class="col-md-5">
                            <div class="footer_menu">
                                <h2 v-text="__('Siamo in tutta Italia')"></h2>
                              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2798.2010013225336!2d9.19386231540883!3d45.46575474136107!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4786c719e0b49123%3A0xc875c7f4eba9903c!2sRistrutturazione+Case!5e0!3m2!1sit!2sit!4v1538412854446" width="600px" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer_bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="copyright">
                              <p>© 2018 <b>Ristrutturazione Case srl</b> - p.iva IT 09759210967 <b>Privacy Policy</b> <br>
                                    <span v-text="__('Tutti i testi e la grafica presenti nel sito sono soggetti alle norme vigenti sul diritto d autore.')"></span>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="f_right">
                                <p>Web design <span>Simone</span></p>
                                <a href="#" v-text="__('Segnala un problema')"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- =========================
            END FOOTER SECTION
        ============================== -->
    </div>
</template>

<script>
    export default {
        name: 'app',
        data() {
            return {
                core : core
            }
        }
    }
</script>
