<template>
    <div>
        <!-- =========================
            START FREE QUOTE SECTION
        ============================== -->
        <section class="free_quote_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 v-text="__('Il preventivo è gratuito')"></h2>
                        <p>
                            Non sai da dove iniziare la ristutturazione? Il preventivo, il soprallugo e il progetto sono gratuiti!
                            <br>
                            Realizziamo insieme il progetto della tua casa, con la realtà virtuale potrai visionare la ristrutturazione prima che venga eseguita
                        </p>
                    </div>
                </div>
            </div>
            <div class="free_quote_bottom">
                <div class="container =">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="free_quote_bottom_inner">
                                <a href="tel: +398000333330"><span v-text="__('CHIAMACI AL 800 33 33 30')"></span> <i class="material-icons">arrow_forward</i></a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="free_quote_bottom_inner free_quote_bottom_inner2">
                                 <router-link :to="'/il-tuo-architetto'" ><span v-text="__('PRENOTA UN SOPRALLUGO')"></span> <i class="material-icons">arrow_forward</i></router-link>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- =========================
            END FREE QUOTE SECTION
        ============================== -->
    </div>
</template>

<script>
    export default {
        name: 'app',
        data() {
            return {
                core : core,
                selectAMb : 0
            }
        }
    }
</script>
