<template>
    <div>
        <!-- =========================
            START RECENT RENOVATIONS SECTION
        ============================== -->
        <!-- =========================
            START RECENT RENOVATIONS SECTION
        ============================== -->
        <section class="recent_renovations_area single_recent_renovations_area">
            <div class="common_title">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h3 v-text="__('LAVORI DI RISTUTTURAZIONE RECENTI')"></h3> 
                            <h2 v-text="__('Ambienti nuovi da scoprire')"></h2>
                            <span></span> 
                            <p>
                                <span v-text="__('Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dolor augue,')"></span>
                                <br> <span v-text="__('lobortis nec hendrerit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.')"></span>
                                <br> <span v-text="__('Nunc dolor augue, lobortis nec hendrerit.')"></span>
                            </p>                          
                        </div>
                    </div>
                </div>                
            </div>            
            <div class="container">
                <div id= "recent_renovations_slider2" class="owl-carousel owl-theme">
                    <div v-for="project in projects" :key="project.id" @click="mv_project(project.title_it, project.id)" class="row pointer no-gutters">
                        <div class="col-sm-6">
                            <div class="recent_renovations_inner">
                                <h3>
                                    <span v-text="__('APPARTAMENTO')"></span> / <span v-text="__('SOGGIORNO')"></span>
                                </h3>
                                <h2 v-if="$store.state.lang == 'it'">{{ project.title_it }}</h2>
                                <h2 v-else-if="$store.state.lang == 'en'">{{ project.title_en }}</h2>
                                <h2 v-else-if="$store.state.lang == 'de'">{{ project.title_de }}</h2>
                                <h2 v-else>{{ project.title_py }}</h2>

                                <p v-if="$store.state.lang == 'it'">{{ project.description_it && project.description_it.length > 100 ? project.description_it.substring(0,100)+'...': project.description_it }}</p>
                                <p v-else-if="$store.state.lang == 'en'">{{ project.description_en && project.description_en.length > 100 ? project.description_en.substring(0,100)+'...': project.description_en }}</p>
                                <p v-else-if="$store.state.lang == 'de'">{{ project.description_de && project.description_de.length > 100 ? project.description_de.substring(0,100)+'...': project.description_de }}</p>
                                <p v-else-if="$store.state.lang == 'py'">{{ project.description_py && project.description_py.length > 100 ? project.description_py.substring(0,100)+'...': project.description_py }}</p>
                                <a href="javascript:void(0)" v-text="__('Scopri di più')"></a>
                                <a href="javascript:void(0)"><span>+</span></a>
                            </div>
                        </div>
                        <div class="col-sm-6 order-1">
                            <div class="recent_renovations_img">
                                <img :src="'https://dev2.simonechinaglia.net/dev/ristru-backend/public/storage/uploads/'+ project.image_after" class="img-fluid" alt="">                            
                            </div>    
                        </div>
                    </div>               
                </div>
            </div>
        </section>
        <!-- =========================
            END RECENT RENOVATIONS SECTION
        ============================== -->  
    </div>
</template>

<script>
    export default {
        name: 'app',
        data() {
            return {
                core : core,
                selectAMb : 0
            }
        },
        methods: {
            mv_project: function(title, id){
                title = title.replace(' ', '-');
                this.$router.push('/progetti/'+title+'/'+id);
                // this.$router.push('/#blog1');
            }
        },
        mounted(){
            // if (this.projects.length) {
            //     return;
            // }
            
            this.$store.dispatch('getProjects');

            $(function () {
                var restructure_slider = jQuery("#recent_renovations_slider2");
                restructure_slider.owlCarousel({
                    loop: false,
                    margin: 0,
                    smartSpeed: 1500,
                    autoplay:false,
                    nav: true,
                    dots:false,
                    navText: ['<img src="'+core.Asset_Path+'images/arrow-left.png">','<img src="'+core.Asset_Path+'images/arrow-right.png">'],
                    responsive: {
                        0: {
                            items: 1
                        },
                        400: {
                            items: 1
                        },
                        768: {
                            items: 1
                        },
                        1200: {
                            items: 1
                        }
                    }
                });
            });
        },
        computed: {
            projects() {
                return this.$store.getters.projects;
            }
        }
    }
</script>

<style scoped>
    .pointer{
        cursor: pointer;
    }
</style>
