<template>
    <div>
        <!-- =========================
            START RECENT RENOVATIONS SECTION
        ============================== -->
        <section class="recent_renovations_area">
            <div class="common_title">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h3 v-text="__('PROGETTI RECENTI')"></h3>
                            <h2 v-text="__('Nuovi spazi da scroprire')"></h2>
                            <span class="dots"></span>
                            <p>
                                <span v-text="__('Tutte le ristrutturazioni che facciamo sono qui, prendi spunto, chiedi al tuo archietto')"></span>
                                <br>
                                <span v-text="__('trova la tua idea e creiamo il progetto di ristrutturazione della casa.')"></span>
                                <br>
                                <span v-text="__('Il preventivo, come il progetto e il sopralluogo sono gratuiti!')"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="recent_renovations_desktop">
                <div class="container">
                    <div v-for="(project, id) in projects" :key="project.id" @click="mv_project(project.title_it, project.id)" class="row pointer no-gutters">
                        <div v-if="id%2==0" class="col-md-6 hide-xs">
                            <img :src="'https://dev2.simonechinaglia.net/dev/ristru-backend/public/storage/uploads/'+ project.image_after" class="img-fluid" alt="">
                        </div>
                        <div class="col-sm-6 order-2 order-sm-1">
                            <div class="recent_renovations_inner">
                                <h3>
                                    <span v-text="__('APPARTAMENTO')"></span> / <span v-text="__('SOGGIORNO')"></span>
                                </h3>
                                <h2 v-if="$store.state.lang == 'it'">{{ project.title_it }}</h2>
                                <h2 v-else-if="$store.state.lang == 'en'">{{ project.title_en }}</h2>
                                <h2 v-else-if="$store.state.lang == 'de'">{{ project.title_de }}</h2>
                                <h2 v-else>{{ project.title_py }}</h2>

                                <p v-if="$store.state.lang == 'it'">{{ project.description_it && project.description_it.length > 100 ? project.description_it.substring(0,100)+'...': project.description_it }}</p>
                                <p v-else-if="$store.state.lang == 'en'">{{ project.description_en && project.description_en.length > 100 ? project.description_en.substring(0,100)+'...': project.description_en }}</p>
                                <p v-else-if="$store.state.lang == 'de'">{{ project.description_de && project.description_de.length > 100 ? project.description_de.substring(0,100)+'...': project.description_de }}</p>
                                <p v-else-if="$store.state.lang == 'py'">{{ project.description_py && project.description_py.length > 100 ? project.description_py.substring(0,100)+'...': project.description_py }}</p>

                                <a href="javascript:void(0)" v-text="__('Scopri di più')"></a>
                                <a href="javascript:void(0)"><span>+</span></a>
                            </div>
                        </div>
                        <div v-if="id%2==1" class="col-sm-6 order-1 order-sm-2">
                            <div class="recent_renovations_img">
                                <img :src="'https://dev2.simonechinaglia.net/dev/ristru-backend/public/storage/uploads/'+ project.image_after" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="recent_renovations_mobile">
                <div id="recent_renovations_slider" class="owl-carousel owl-theme">
                    <div v-for="project in projects" :key="project.id" @click="mv_project(project.title_it, project.id)" class="pointer recent_renovations_slider_inner">
                        <div class="recent_renovations_img">
                            <img :src="'https://dev2.simonechinaglia.net/dev/ristru-backend/public/storage/uploads/'+ project.image_after" class="img-fluid" alt="">
                        </div>
                        <div class="recent_renovations_inner">
                            <h3>
                                <span v-text="__('APPARTAMENTO')"></span> / <span v-text="__('SOGGIORNO')"></span>
                            </h3>
                            <h2 v-if="$store.state.lang == 'it'">{{ project.title_it }}</h2>
                            <h2 v-else-if="$store.state.lang == 'en'">{{ project.title_en }}</h2>
                            <h2 v-else-if="$store.state.lang == 'de'">{{ project.title_de }}</h2>
                            <h2 v-else>{{ project.title_py }}</h2>

                            <p v-if="$store.state.lang == 'it'">{{ project.description_it && project.description_it.length > 100 ? project.description_it.substring(0,100)+'...': project.description_it }}</p>
                            <p v-else-if="$store.state.lang == 'en'">{{ project.description_en && project.description_en.length > 100 ? project.description_en.substring(0,100)+'...': project.description_en }}</p>
                            <p v-else-if="$store.state.lang == 'de'">{{ project.description_de && project.description_de.length > 100 ? project.description_de.substring(0,100)+'...': project.description_de }}</p>
                            <p v-else-if="$store.state.lang == 'py'">{{ project.description_py && project.description_py.length > 100 ? project.description_py.substring(0,100)+'...': project.description_py }}</p>
                            <a href="javascript:void(0)" v-text="__('Scopri di più')"></a>
                            <a href="javascript:void(0)"><span>+</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- =========================
            END RECENT RENOVATIONS SECTION
        ============================== -->
    </div>
</template>

<script>
    export default {
        name: 'app',
        data() {
            return {
                core : core,
                selectAMb : 0,
                imgPosition1: 0,
                imgPosition2: 0
            }
        },
        methods: {
            mv_project: function(title, id){
                title = title.replace(' ', '-');
                this.$router.push('/progetti/'+title+'/'+id);
                // this.$router.push('/#blog1');
            }
        },
        mounted() {
            // if (this.projects.length) {
            //     return;
            // }

            this.$store.dispatch('getProjects');
        },
        computed: {
            projects() {
                return this.$store.getters.projects;
            }
        }
    }
</script>

<style scoped>
    .pointer{
        cursor: pointer !important;
    }
</style>
