<template>
    <div>
        <!-- =========================
            START SOCIAL SECTION
        ============================== -->
        <section class="social_area ">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2>#RistrutturazioneCase</h2>
                        <p>Cercaci sui social con l'hashtag #RistrutturazioneCase, trovarai i nostri progetti di ristrutturazione completa e parziali, le recensioni dei nostri clienti e molto altro. Sei un cliente? Posta le tue foto e fai sapere che hai una ristrutturazione in corso con Ristrutturazione Case!</p>
                        <ul class="social_icon">
                            <li>
                                <a href="https://www.linkedin.com/company/5158942" target="_blank"><i class="fa fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/RistrutturazioneCase1/?fref=ts" target="_blank"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/ristrutturazionecase" target="_blank"><i class="fa fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="https://www.pinterest.it/domusmea/" target="_blank"><i class="fa fa-pinterest"></i></a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- =========================
            END SOCIAL SECTION
        ============================== -->
    </div>
</template>

<script>
    export default {
        name: 'app',
        data() {
            return {
                core : core,
                selectAMb : 0
            }
        }
    }
</script>
