<template>
    <div>
        <!-- =========================
            START TESTIMONIAL SECTION
        ============================== -->
        <section class="testimonial_area">
            <div class="common_title">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h3 v-text="__('LE RECENSIONI')"></h3>
                            <h2 v-text="__('Cosa dicono di noi i clienti')"></h2>
                            <span class="dots"></span>
                            <p v-text="__('Ogni cliente di Ristrutturazione Case è unico, come te e la tua casa. Abbiamo cuore che la tua soddisfazione e che il progetto rispetti tempi e costi preventivati. Ci impegnamo ogni giorno per garantire tranquillità in fase di ristrutturazione. ')">
                            </p>

                        </div>
                    </div>
                </div>
            </div>
            <div id="testimonail_slider" class="owl-carousel owl-theme">
                <div class="container">
                    <div class="row no-gutters">
                        <div class="gray-color col-md-8">
                            <div class="testimonial_text">
                                <img :src="core.Asset_Path+'images/icons quote mark.png'" alt="">
                                <h2 v-text="__('Matteo di Maglie')"></h2>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dolor augue, lobortis nec hendrerit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. <span class="author"> / Nunc dolor augue, lobortis nec hendrerit.</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img :src="core.Asset_Path+'images/author.png'" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row no-gutters">
                        <div class="gray-color col-md-8">
                            <div class="testimonial_text">
                                <img :src="core.Asset_Path+'images/icons quote mark.png'" alt="">
                                <h2 v-text="__('Matteo di Maglie')"></h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dolor augue, lobortis nec hendrerit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. <span class="author"> / Nunc dolor augue, lobortis nec hendrerit.</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img :src="core.Asset_Path+'images/author.png'" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row no-gutters">
                        <div class="gray-color col-md-8">
                            <div class="testimonial_text">
                                <img :src="core.Asset_Path+'images/icons quote mark.png'" alt="">
                                 <h2 v-text="__('Matteo di Maglie')"></h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dolor augue, lobortis nec hendrerit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. <span class="author"> / Nunc dolor augue, lobortis nec hendrerit.</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img :src="core.Asset_Path+'images/author.png'" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- =========================
            END TESTIMONIAL SECTION
        ============================== -->
    </div>
</template>

<script>
    export default {
        name: 'app',
        data() {
            return {
                core : core,
                selectAMb : 0
            }
        },
        mounted(){
            $(function(){
                var testimonail_slider = jQuery("#testimonail_slider");
                testimonail_slider.owlCarousel({
                    loop: true,
                    margin: 0,
                    lazyLoad:true,
                    center: true,
                    smartSpeed: 1500,
                    autoplay:true,
                    nav: false,
                    navText: ['<img src="'+core.Asset_Path+'images/arrow-left.png">','<img src="'+core.Asset_Path+'images/arrow-right.png">'],
                    dots:true,
                    responsive: {
                        0: {
                            items: 1
                        },
                        400: {
                            items: 1
                        },
                        768: {
                            items: 1
                        },
                        1200: {
                            items: 1
                        }
                    }
                });
            });
        }
    }
</script>
<style scoped>
.gray-color{background: #f7f7f7;}
</style>

