<template>
    <div>
        <!-- =========================
            START WELLCOME SECTION
        ============================== -->
        <section class="welcome_form_area animated bounce">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="welcome_form_inner">
                            <h2  v-text="__('Inizia oggi la tua ristrutturazione')"></h2>
                            <p></p>
                            <form @submit.prevent="formSubmit">
                                <div class="form-row">
                                    <div class="col-sm-3">
                                        <md-field>
                                            <label for="name1" v-text="__('Il tuo nome')"></label>
                                            <md-input v-model="form.name" id="name1" autocomplete="off" required/>
                                        </md-field>
                                    </div>
                                    <div class="col-sm-3">
                                        <md-field>
                                            <label for="email1" v-text="__('Email')"></label>
                                            <md-input v-model="form.email" id="email1" autocomplete="off" required />
                                        </md-field>
                                    </div>
                                    <div class="col-sm-3">
                                        <md-field>
                                            <label for="phone1" v-text="__('Cellulare')"></label>
                                            <md-input v-model="form.phone" id="phone1" autocomplete="off" required/>
                                        </md-field>
                                    </div>
                                    <div class="col-sm-3">
                                        <md-field>
                                            <label for="font" v-text="__('Cosa vuoi ristrutturare ')"></label>
                                            <md-select v-model="form.room" id="font" required>
                                                <md-option value="Bagno">Bagno</md-option>
                                                <md-option value="Cucina">Cucina</md-option>
                                                <md-option value="Mansarda">Mansarda</md-option>
                                                <md-option value="Balconi">Balconi</md-option>
                                                <md-option value="Facciata">Facciata</md-option>
                                                <md-option value="Tetto">Tetto</md-option>
                                                <md-option value="Rustico">Rustico</md-option>
                                                <md-option value="Energetica">Energetica</md-option>
                                                <md-option value="Domotico">Domotico</md-option>
                                                <md-option value="Negozio">Negozio</md-option>
                                                <md-option value="Industriale">Industriale</md-option>
                                            </md-select>
                                        </md-field>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="gridCheck" required>
                                        <label class="form-check-label" for="gridCheck"
                                               v-text="__('Inviando il form autorizzi Ristrutturazione case a contattarti per fini commerciali. Dichiari inoltre di aver letto e di accettare la Privacy Policy.')">
                                        </label>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary" v-text="__('Completa la richiesta')"></button>
                            </form>
                            <span v-text="__('PREVENTIVO GRATUITO')"></span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- =========================
            END WELLCOME SECTION
        ============================== -->
    </div>
</template>

<script>
    import Vue from 'vue'
    import axios from 'axios'
    import VueAxios from 'vue-axios'
    Vue.use(VueAxios, axios);
    export default {
        name: 'app',
        data() {
            return {
                core : core,
                selectAMb : 0,
                file: '',
                form: {
                    name: '',
                    phone: '',
                    email: '',
                    room: '',
                    date: '',
                    flag: '',
                    wantArchitect: ''
                },
            }
        },
        methods: {
            formSubmit: function(){
                // let formData = new FormData();
                // formData.append('file', this.file);
                // formData.append('name', this.form.name);
                // formData.append('phone', this.form.phone);
                // formData.append('email', this.form.email);
                // formData.append('room', this.form.room);
                // formData.append('date', this.form.date);
                // formData.append('flag', this.form.flag);

                // // axios.post( 'https://dev2.simonechinaglia.net/dev/ristru-backend/api/send-mail',
                // formData,
                // {
                //     headers: {
                //         'Content-Type': 'multipart/form-data'
                //     }
                // }
                // ).then(function(response){
    
                // })
                // .catch(function(){
                //     console.log('FAILURE!!');
                // });

                localStorage.removeItem("welcomeFormData");
                localStorage.setItem("welcomeFormData", JSON.stringify(this.form));

                this.form.name = '';
                this.form.phone = '';
                this.form.email = '';
                this.form.room = '';

                this.$router.push('/il-tuo-architetto/step/2');


            }
        }
    }
</script>

<style scoped>
    .md-field label{
        font-size: 14px !important;
    }
    .md-field.md-focused label, .md-field.md-has-value label{
      opacity: .6;
      font-size: 12px !important;
    }
</style>
